.create-evms-btn{
    -webkit-box-align: baseline;
    align-items: baseline;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    padding: 0px 10px;
    font-size: 14px;
    line-height:2.28571em;
    margin-top:15px;
    background-color: #0052CC;
    color: white;
}
.create-evms-btn:hover{
    background-color: #0065ff;
    color: white;
}